@import '../variables';

footer.footer {
  padding: 12rem 0 4rem;

  .content {
    .paragraph {
      margin: 0;
      font-family: $title;

      .opacity {
        opacity: .4;
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  footer.footer {
    display: none;
  }
}