@import '../variables';

section.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(#000, .4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  .content {    
    background-color: $dark-blue;
    padding: 2rem;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 10px 20px rgba(#000, .2);
    position: relative;

    .close {
      position: absolute;
      $width: 30px;
      width: $width;
      height: 30px;
      background-color: $darker-blue;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      right: -$width/2;
      top: -$width/2;
      cursor: pointer;
    }

    .icon {
      width: 80px;
      margin: 0 auto 1rem;
      display: block;
    }
    
    .title {
      text-align: center;
      text-transform: uppercase;
      font-family: $title;
      letter-spacing: 1px;
    }

    .desc {
      text-align: center;
    }
  }
}