$darker-blue: #152243;
$cyan: #69e4ff;
$dark-blue: #005ea3;
$blue: #0094ff;
$light-blue: #6cbfe2;
$purple: #7867E0;
$red: #DC3C63;
$yellow: #DED15E;
$white: #ffffff;
$black: #000000;

$spotify_green: #1DB954;
$spotify_black: #191414;

$font: 'Inter', sans-serif;
$title: 'Mina', sans-serif;