* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	border: none;
	font-family: $font;
}

img,
video {
	max-width: 100%;
	height: auto;
}

strong,
.strong {
	font-weight: 700;
}
button,
.button,
input[type='submit'] {
	cursor: pointer;
}
